.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.content-title{
    text-align: center;
}

.hospital-cotainer{
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espaço entre a lista de hospitais e o mapa */
}
/* Adicione ao seu CSS existente para estilizar os resultados da busca de hospitais */
.hospital-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;

}

.hospital-list {
    min-height: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    flex: 1;
    overflow-y: auto; /* Adicionado barra de rolagem vertical quando necessário */
}

#googleMap {
    flex: 2; /* O mapa ocupará o dobro do espaço da lista de hospitais */
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
