@import url(form/loginStyle.css);
@import url(form/formStyle.css);
@import url(form/createStyle.css);
@import url(footer.css);
@import url(user/marcas.css);
@import url(user/hospital.css);

:root {
    --purple-darker: #40003A;
    --purple-dark: #840A62;
    --purple-medium: #A02585;
    --purple-solid: #E357CC;
    --purple-ligther: #F470FF
}


img {
    max-width: 100%;
    height: auto;
}


body {
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

a {
    color: #ddd;
}

input {
    width: calc(100% - 20px);
    padding: .8rem;
    
    border-radius: 25px;
    border: 2px solid white;
    border: 3px solid var(--purple-ligther);
    background-color: transparent;

    color: var(--purple-ligther);
    font-family: 'Fira Code', monospace;
    font-weight: 300;
}

input::placeholder{
    font-size: .8rem;
    color: white;
    /* color: var(--purple-ligther); */
}
